button.lang-component {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  justify-content: center;
  border: none !important;
  background: none !important;
  color: var(--black);
}

button.lang-component:active {
  opacity: 1;
}

.lang-component svg {
  height: 30px;
  /* color: c; */
  cursor: pointer;
}

.right-header span {
  /* display: none; */
  font-size: 14px;
  font-weight: bold;
  margin: 0 3px;
  /* color: var(--black); */
}

.lang-component.active span,
.lang-component.active svg {
  color: var(--primary);
}

/* .lang-component>*:hover {
    color: var(--primary);
} */

.list-languages.active {
  display: flex;
}

.list-languages {
  /* height: 100px; */
  width: 100px;
  background-color: var(--light);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  z-index: 999;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0px 10px;
  display: none;
  flex-direction: column;
  padding: 5px;
}

.list-languages .to {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--light);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
}

.list-languages .list {
  background-color: var(--white);
}

.lng {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.lng.active,
.lng:active {
  background-color: var(--primary);
  color: white !important;
  border-radius: 5px;
}

.lng img {
  height: 30px !important;
}
