@tailwind base;
@tailwind components;
@tailwind utilities;

/* html:lang(ar) * {
  direction: rtl;
} */

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

@layer components {
  .grid-3 {
    grid-column: span 3; /* <-- here is the trick */
  }
  .grid-4 {
    grid-column: span 4; /* <-- here is the trick */
  }

  .min-w {
    min-width: 60px;
    font-size: 10px;
    color: #339fff !important;
    text-align: center;
    /* transform: translateX(30px); */
  }
  /* ... */
  .translateXs30 {
    transform: translateX(60px);
  }
  .translateXg30 {
    transform: translateX(40px);
  }
  .hide {
    display: none;
  }
}

@font-face {
  font-family: "TubeStn_";
  src: url("/fonts/TubeStn_.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.roboto {
  font-family: TubeStn_;
}

.bg-color-blue {
  background-color: #0052a2;
}

.text-xxs {
  font-size: xx-small;
}
::-webkit-scrollbar {
  display: none;
}

/* .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
} */

.swiper-vertical > .swiper-button-next::after,
.swiper-vertical > .swiper-button-prev::after {
  font-size: 30px !important;
  transform: rotate(90deg);
}

.swiper-vertical > .swiper-button-next {
  top: calc(100% - 20px) !important;
  /* left: 50%; */
  left: 0 !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  /* tr */
}
.swiper-vertical > .swiper-button-prev {
  top: 20px !important;
  width: 100% !important;
  left: 0 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.swiper-horizontal > .swiper-button-next {
  top: 30px !important;
}
.swiper-horizontal > .swiper-button-prev {
  top: 30px !important;
}

.swiper-slide {
  height: unset !important;
}

.dot {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* @media (max-width: 768px) {
  .swiper-slide {
    width: 100vw !important;
  }
} */

/* languages */

button.lang-component {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  justify-content: center;
  border: none !important;
  background: none !important;
  color: var(--black);
}

button.lang-component:active {
  opacity: 1;
}

.lang-component svg {
  height: 30px;
  /* color: c; */
  cursor: pointer;
}

.right-header span {
  /* display: none; */
  font-size: 14px;
  font-weight: bold;
  margin: 0 3px;
  /* color: var(--black); */
}

.lang-component.active span,
.lang-component.active svg {
  color: var(--primary);
}

/* .lang-component>*:hover {
    color: var(--primary);
} */

.list-languages.active {
  display: flex;
}

.list-languages {
  /* height: 100px; */
  width: 100px;
  background-color: var(--light);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  z-index: 999;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0px 10px;
  display: none;
  flex-direction: column;
  padding: 5px;
}

.list-languages .to {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--light);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
}

.list-languages .list {
  background-color: var(--white);
}

.lng {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.lng.active,
.lng:active {
  background-color: var(--primary);
  color: white !important;
  border-radius: 5px;
}

.lng img {
  height: 30px !important;
}
